# https://console.groq.com/keys
GROQ_API_KEY=gsk_your_api_key_here
GROQ_MODEL=openai/gpt-oss-120b
CHATBOT_SYSTEM_PROMPT=You are a helpful assistant. You must answer in Korean.
FASTAPI_BASE_URL=http://localhost:8001
