######################
# API Key - 인증키
######################

# 식품안전나라(foodsafetykorea.go.kr) 오픈 API 인증키
# https://www.foodsafetykorea.go.kr/api/howToUseApi.do?menu_grp=MENU_GRP34&menu_no=687 에서 발급
FOOD_SAFETY_API_KEY="발급받은_인증키를_입력하세요"

